* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 400px;
    height: 400px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    padding: 15px 25px;
}

.container-paragrafo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo {
    text-align: center;
    color: hsl(223, 47%, 23%);
}

.paragrafo {
    font-size: 14px;
}